@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}
#home, #skills, #contacts{
  background-color: #996515;
}
#about, #projects{
  background-color: #f0dc82;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #303030;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#homeH2{
  display: none;
}
.nav-item {
  margin-left: 5rem;
}

.link {
  font-size: 2rem;
  font-weight:bolder;
  color: #303030;;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color:  #303030;;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.homeText {
  display: block;
  text-align: center;
  color: white;
  margin-top: 200px;
}

#homeP {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 50px;
  margin-left: 30%;
}
#homeName {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: bold;
  margin-left: 10%;
}
#homeWeb {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: white;
  margin-top: 70%;
  margin-left: 25%;
}
#indexButton {
  border: none;
  color: white;
  background-color: #a48111;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
}
.skillsIcons .skillsHeadings {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 200px;
}

.skillsIcons {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-gap: 5px;
  justify-content: center;
}
.iconDiv {
  padding: 0 4px;
  margin-top: 50px;
}
.iconDiv img {
  margin-top: 1px;
  width: 100%;
  padding: 10px;
}
.skillsHeadings {
  text-align: center;
}
#skillsH1{
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 0px;
}
.headings{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: 2% !important;
  margin-bottom: 0px;
}
.skillsImage {
  height: 150px;
  width: 200px;
}

#navbar1 ul a {
  text-decoration: none;
  color: #303030;
  display: flex;
  align-self: center;
  justify-content: center;
}
#navbar1 a {
  text-decoration: none;
  color: #303030;
}

#navbar1 a:visited {
  text-decoration: none;
}

#navbar1 a:hover {
  text-decoration: underline;
  text-decoration-color: #303030;;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}
/*end */

/* Start contact */
.contactDiv {
  display: flex;
  justify-content: center;
}
.contactDiv #info {
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  text-align: center;
}
.contactDiv {
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
}

.contacts {
  text-align: left;
  text-align: center;
  padding-left: 20px;
}
#contact {
  color: white;
}

.contactDiv .headings {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  color: #1434A4	;
}
a .headings {
  padding-bottom: 20px;
}

.subAct {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.subContact .headings {
  background-color: aqua;
}
.socialMediaIcons {
  margin-bottom: 0%;
  padding-bottom: 0%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 90px);
  margin-top: 40px;
}
.socialMediaIcons .image {
  border-radius: 10px;
  height: 80px;
  width: 80px;
  margin: 7px;
}
.nav-menu {
  display: flex;
  margin-bottom: auto;
  font-family: Alegre;
}

.AboutMeSection {
  display: grid;
  padding: 2rem;
  grid-template-columns: 350px 2fr;
  gap: 3rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font: 500 100%;
  color: white;
  padding-top: 10rem;
  font-family: "Segoe UI", Arial, sans-serif;
}
.aboutMeP {
  font-size: 2.6rem;
}
#aboutMeH2{
  text-align: center;
  color: #303030;
  font-size: 30px;
}
#myImg {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
#CV {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background: #F7E98E;
  font-size: 12px;
  color: #303030;
  font-weight: 10px ;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  margin-top: 70%;
  text-decoration: none;
  margin-left: 35%;
}
#projectsId {
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  text-align: center;
  margin-top: 100px;
}
#projectsHeading{
  font-size: 30px;
  color: #303030;
  text-align: center;
  margin-top: 5%;
}

#free, #card, #rank{
  height: 200px;
  width: 200px;
}
#about {
  background-color: #f0dc82;
}
.aboutContainer{
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}
.aboutImage {
  height: 200px;
  width: 150px;
  border: 5px solid white;
}
#aboutMe {
  position: absolute;
  top: 15%;
  left: 48%;
  color: #303030;
}
.aboutMe{
  font-size: 20px;
}
#aboutPage {
 padding-top: 40%;
 text-align: center; 
}
#circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
  border-radius: 50%;
  /* width: 80px;
  height: 80px; */
}
#circle1 {
  width: 100px;
  height: 100px;
  margin-left: 300px;
}

#circle2 {
  width: 120px;
  height: 120px;
  margin-left: 80px;
}
#circle3 {
  width: 135px;
  height: 135px;
  margin-left: 150px;
}
#circle4 {
  width: 150px;
  height: 150px;
  margin-left: 30px;
}
#circle5 {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}
#circle6 {
  width: 120px;
  height: 120px;
  margin-left: 230px;
}
#circle7 {
  width: 135px;
  height: 135px;
  margin-left: 100px;
}
#circle8 {
  width: 150px;
  height: 150px;
  margin-left: 250px;
}

/* End About */

.projectsContainer{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  margin-top: 15%;
  justify-content: center;
  grid-gap: 10px;
}
@media (max-width: 768px) {
  #myImage {
    width: 100%;
  }
  .main {
    text-align: center;
  }
  .navbar {
    justify-content: right;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #FFFDD0;
    width: 100%;
    border-radius: 10px;
    text-align: right;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .homeText {
    margin-bottom: 150px;
  }
#homeP {
    font-size: 40px !important;
  }
  #homeName {
    font-size: 35px !important;
    margin-left: 20% !important
  }
  #homeWeb {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  #indexButton {
    padding: 15px 32px;
    font-size: 30px;
  }
  #id{
    padding-top: 20px;
  }
  #indexButton {
    border: none;
    color: white;
    background-color: #a48111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
  }
  #cvDiv {
    margin-top: 200px;
    margin-right: 500px;
    color: grey;
  }
  #buttonCv {
    padding: 15px 32px;
    font-size: 25px;
    margin: 4px 2px;
    margin-left: 25%;
    height: 80px;
    width: 300px;
  }
  .buttonCV {
    border: none;
    color: white;
    background-color: #a48111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Alegreya SC", serif;
    margin-left: 20%;
  }
  /*Skills*/
  .skillsIcons .skillsHeadings {
    margin-top: 50px;
  }
  /*end skills*/
  .skillsIcons {
    margin-top: 0px;
    grid-template-columns: repeat(3, 160px);
  }
  .skillsImage {
    height: 150px;
    width: 100px;
  }
  .iconDiv{
    margin-top: 0px;
  }
  .projectsContainer{
    grid-gap: 5px;
  }
  #about{
    margin-top: 0px;
  }
  .aboutContainer{
    grid-template-columns: 5% 90% 5% !important;
  }
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
    display: none;
  }
}
@media (max-width: 650px) {
  .AboutMeSection {
    display: block;
    font-size: 90%;
  }
  .aboutMeP {
    position: relative;
    margin: 1rem;
    padding: 1rem;
  }
  .iconDiv {
    grid: 100%;
    max-width: 100%;
  }
  .skillsIcons {
    margin-left: 5%;
  }
  .skillsIcons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    margin-left: 0%;
  }
  #homeP {
    font-size: 35px !important;
  }
  #homeName {
    font-size: 35px !important;
    margin-left: 12%;
  }
  #homeWeb {
    font-size: 32px !important;
    margin-bottom: 40px ;
  }
  #CV{
    margin-left: 28%;
  }
  .aboutContainer{
    padding-top: 0px;
    grid-template-rows: 2px 200px 2px !important;
  }
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
    display: none;
  }
  .socialMediaIcons{
    grid-template-columns: repeat(3, 90px);
  }
}

@media (max-width: 414px) {
  header {
    margin-bottom: 10px;
  }
  .infoText {
    margin-bottom: 50px;
  }
  #homeP {
    font-size: 25px !important;
    margin-left: 35%;
  }
  #homeName {
    font-size: 30px !important;
    /* margin-left: 40% !important; */
  }
  #homeWeb {
    font-size: 20px !important;
  }
  #indexButton {
    padding: 15px 32px;
    font-size: 16px;
    font-size: 17px;
  }
  /*Skills*/
  .skillsIcons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    margin-left: 0%;
  }
  .skillsImage {
    height: 120px;
    width: 90px;
    grid-gap: 0px;
  }
  .skillsImage {
    height: 100px;
    width: 70px;
  }
  .iconDiv{
    margin-top: 0px;
  }
  #CV{
    margin-left: 25%;
  }
  .AboutMeSection{
    padding-top: 10px;
  }
  .aboutContainer{
    padding-top: 0px;
    grid-template-columns: 2px 200px 2px;
  }
  .projectsContainer{
    grid-template-columns: repeat(1, 200px);
    grid-gap: 10px;
  }
  #free, #card, #rank{
    height: 160px;
  }
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
    display: none;
  }
  .socialMediaIcons {
    grid-template-columns: repeat(5, 70px);;
  }
  .socialMediaIcons .image {
    height: 60px;
    width: 60px;
    grid-template-columns: repeat(1, 20px);
  }
  .socialMediaIcons a {
    height: 50px;
    width: 50px;
    grid-template-columns: repeat(1, 20px);
    padding-right: 0px;
  }
}
@media (max-width: 375px) {
  .contactDiv #info {
    font-size: 20px;
  }
  .contactDiv .headings {
    font-size: 20px;
  }
  .subAct {
    font-size: 20px;
  }
  .subContact .headings {
    background-color: aqua;
  }
  .socialMediaIcons {
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 30px;
  }
  .socialMediaIcons .image {
    height: 50px;
    width: 50px;
    margin: 7px;
  }
  .nav-menu {
    display: flex;
    margin-bottom: auto;
  }
  #contact {
    color: white;
  }
  .AboutMeSection {
    margin-top: 20px;
  }
  .skillsIcons {
    grid-template-columns: auto auto;
    grid-gap: 0px;
    margin-left: 0%;
    margin-top: 0px;
  }
  .skillsImage {
    height: 130px;
    width: 70px;
  }
  .iconDiv{
    margin-top: 0px;
  }
  .skillsHeadings{
    font-size: 15px;
  }
  #homeP{
    font-size: 20px !important;
  }
  #homeName{
    font-size: 20px !important;
    margin-left: 13% !important;
  }
  #homeWeb{
    margin-left: 18% !important;
  }
  #CV{
    padding: 8px 17px;
  }
  .AboutMeSection{
    padding-top: 10px;
  }
  .projectsContainer{
    grid-template-columns: repeat(1, 200px);
    grid-gap: 10px;
  }
  #free, #card, #rank{
    height: 150px;
    width: 170px;
  }
  .aboutContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7, #circle8 {
    display: none;
  }
  .socialMediaIcons {
    grid-template-columns: repeat(5, 53px);;
  }
}
